---
import { SiBandcamp, SiX } from 'react-icons/si'
---

<aside class="flex flex-col gap-y-12">
  <section class="space-y-4">
    <h2 class="text-xl leading-relaxed">Profile</h2>
    <div>
      <p class="font-bold">Yuki Shibata / Nymoréa</p>
      <p class="text-sm">Web frontend developer / Track maker</p>
    </div>
    <div>
      <a class="underline" href="/about">About</a>
    </div>
  </section>
  <section class="space-y-4">
    <h2 class="text-xl leading-relaxed">Music service</h2>
    <ul>
      <li>
        <a class="underline" href="https://nymorea.bandcamp.com/"> bandcamp </a>
      </li>
    </ul>
  </section>
  <section class="space-y-4">
    <h2 class="text-xl leading-relaxed">Social platform</h2>
    <ul>
      <li>
        <a class="underline" href="https://twitter.com/nymoreax/"> X </a>
      </li>
    </ul>
  </section>
</aside>
