---
---

<header>
  <div class="container flex justify-evenly h-14 items-center lg:h-48 lg:pt-8">
    <h1 class="font-serif text-2xl leading-tight lg:text-[8rem]">
      <a class="hover:text-black dark:hover:text-white" href="/">Nymoréa</a>
    </h1>
  </div>
</header>
