---

---

<header>
  <div class="container flex items-center justify-evenly pb-8 pt-16 lg:h-48">
    <h1 class="font-serif text-3xl leading-tight lg:text-[8rem]">
      <a class="tracking-widest" href="/">Nymoréa</a>
    </h1>
  </div>
</header>
