---

---

<header>
  <div class="container flex h-14 items-center justify-evenly pt-8 lg:h-48">
    <h1 class="font-serif text-2xl leading-tight lg:text-[8rem]">
      <a class="hover:text-black dark:hover:text-white" href="/">Nymoréa</a>
    </h1>
  </div>
</header>
