---

---

<div
  class="prose prose-neutral dark:prose-invert prose-h1:text-xl prose-h1:font-bold prose-p:text-justify prose-a:text-indigo-700 prose-img:rounded-xl prose-a:dark:text-indigo-400"
>
  <slot />
</div>
